<html>
<head>
<title></title>
</head>
<body>



 <h1>Admin </h1>

 <p> <a href="/auth/logout"><span>logout</span></a></a></p>
                                

        
            <ul>

  
       <li> <a href="/orders/list"><span>List Orders</span></a></li>

</ul>
